<div class="container mt-3">
  <div class="row">
    <div class="col text-center">
      <img src="img/rizqi.jpg" alt="Rizqi Siti Rahmah" class="img-thumbnail rounded-circle" width="200">
      <h1 class="display-4">Rizqi Siti Rahmah</h1>
      <p class="lead">Lifelong-learner</p>
    </div>
  </div>
</div>